<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <title>Consulta CPF</title>
    <link rel="stylesheet" href="/assets/css/style.css">

</head>
<body>

    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            MaxMilhas Challenge
        </a>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center title">
                <h1>Consulta CPF</h1>
            </div>
            <div class="col-sm-12 text-justify">
                <p>O sistema possui uma <i>blacklist</i> de CPF. 
                    Se você deseja saber se o seu CPF se encontra em nossa <i>blacklist</i>, informe seu CPF no primeiro campo. </p>
                <p>Se você deseja cadastrar um CPF em nossa <i>blacklist</i>, informe um CPF no segundo campo.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control cpf" id="query" aria-describedby="queryHelp" placeholder="Informe o CPF que deseja consultar">
                        <small id="queryHelp" class="form-text text-muted text-danger"></small>
                    </div>
                </form>
            </div>
        </div>
        <div class="row query-result hidden">
            <div class="col-sm-12">
                <div class="queryResult">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title cpf-title"></h5>
                            <p class="card-text query-result-explain"></p>
                            <p class="card-text date-added"></p>
                            <a href="#" class="btn change-status"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control cpf" id="register" aria-describedby="registerHelp" placeholder="Informe o CPF que deseja cadastrar">
                        <small id="registerHelp" class="form-text text-muted text-danger"></small>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="/assets/js/main.js"></script>
</body>
</html>